<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NewsTagMapper">
    
    <resultMap type="NewsTag" id="NewsTagResult">
        <result property="id"    column="id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectNewsTagVo">
        select id, tag_name, is_deleted, created_at from t_news_tag
    </sql>

    <select id="selectNewsTagList" parameterType="NewsTag" resultMap="NewsTagResult">
        <include refid="selectNewsTagVo"/>
        <where>  
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != '' and params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at between #{params.beginCreatedAt} and #{params.endCreatedAt}</if>
        </where>
    </select>
    
    <select id="selectNewsTagById" parameterType="Long" resultMap="NewsTagResult">
        <include refid="selectNewsTagVo"/>
        where id = #{id}
    </select>

    <insert id="insertNewsTag" parameterType="NewsTag" useGeneratedKeys="true" keyProperty="id">
        insert into t_news_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateNewsTag" parameterType="NewsTag">
        update t_news_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNewsTagById" parameterType="Long">
        delete from t_news_tag where id = #{id}
    </delete>

    <delete id="deleteNewsTagByIds" parameterType="String">
        delete from t_news_tag where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>