<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap type="com.example.domain.User" id="UserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="passwordHash"    column="password_hash"    />
        <result property="nickname"    column="nickname"    />
        <result property="roleId"    column="role_id"    />
        <result property="status"    column="status"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="lastLoginAt"    column="last_login_at"    />
        <result property="lastLoginIp"    column="last_login_ip"    />
    </resultMap>

    <sql id="selectUserVo">
        select id, username, password_hash, nickname, role_id, status, is_deleted, created_at, updated_at, last_login_at, last_login_ip from t_user
    </sql>

    <select id="selectUserList" parameterType="com.example.domain.User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="roleId != null "> and role_id = #{roleId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != '' and params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at between #{params.beginCreatedAt} and #{params.endCreatedAt}</if>
        </where>
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.example.domain.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="passwordHash != null and passwordHash != ''">password_hash,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="roleId != null">role_id,</if>
            <if test="status != null">status,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="lastLoginAt != null">last_login_at,</if>
            <if test="lastLoginIp != null">last_login_ip,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="passwordHash != null and passwordHash != ''">#{passwordHash},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="roleId != null">#{roleId},</if>
            <if test="status != null">#{status},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="lastLoginAt != null">#{lastLoginAt},</if>
            <if test="lastLoginIp != null">#{lastLoginIp},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.example.domain.User">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="passwordHash != null and passwordHash != ''">password_hash = #{passwordHash},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="lastLoginAt != null">last_login_at = #{lastLoginAt},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete from t_user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from t_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectUserByUserName" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where username = #{userName} and is_deleted = 0
    </select>
</mapper>